.section{
    display: flex;
    flex-direction: column;
    margin: 125px 0px 150px;
}

.section-title{
    text-align: center;
    margin-bottom: 50px;
}

.section-title .section-title-text{
    font-size: 3em;
    font-weight: 800;

    color: #0DF6E3;
}

.section-title .section-title-text.light{
    color: #212326;
}

.section-title .section-subtitle-text{
    font-size: 1.25em;
    margin-top: 10px;

    color: #C8C5CE;
}

.section-title .section-subtitle-text.light{
    color: #888171;
}


/* styles for viewport width 1280 */
@media (max-width: 1280px) {
    .section-title .section-subtitle-text{
        font-size: 1em;
    }
}

/* styles for viewport width 768px */
@media (max-width: 768px) {
    .section{
        margin: 80px 0px 100px;
    }

    .section .section-title .section-title-text{
        font-size: 2.25em;
    }

    .section-title .section-subtitle-text{
        font-size: 0.875em;
        margin-top: 0px;
    }
}

/* styles for viewport width 480px */
@media (max-width: 480px) {
    .section{
        margin: 80px 0px;
    }

    .section .section-title .section-title-text{
        font-size: 1.5em;
    }
}