.oct-tag {
    width: fit-content;
    
    font-size:0.75em;
    display: inline-block;
    margin: 10px 10px 10px 0px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 10px;
    flex: 0 0 auto;

    color: #0DF6E3;
    background-color: #0D4A56;
}

.oct-tag.light {
    color: #42474C;
    background-color: #DCDCDC;
}