.tag-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-height: fit-content;
    transition: max-height 5s ease-in-out;
}

.oct-btn-tag{
    width: fit-content;

    font-size:1em;
    display: inline-block;
    margin: 10px 10px 10px 0px;
    padding: 10px 20px;
    align-items: center;
    border: 0;
    border-radius: 10px;
    flex: 0 0 auto;

    color: #0D4A56;
    background-color: #0DF6E3;
}

.oct-btn-tag:hover{
    color: #0DF6E3;
    background-color: #0D4A56;
}

.oct-btn-tag:active{
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25) inset;
}

.oct-btn-tag.light{
    color: #fff;
    background-color: #00BA34;
}

.oct-btn-tag.light:hover{
    color: #42474C;
    background-color: #DCDCDC;
}

.oct-btn-tag.light:active{
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25) inset;
}

/* styles for viewport width 1280 */
@media (max-width: 1280px) {
    
}

/* styles for viewport width 768px */
@media (max-width: 768px) {
    .oct-btn-tag {
        font-size:0.875em;
    }
}

/* styles for viewport width 480px */
@media (max-width: 480px) {
    .oct-btn-tag {
        font-size:0.75em;
    }
}