.oct-card{
    background-color: #0A192F;
    border: solid 4px #0D4A56;
    border-radius: 10px;
    box-shadow: 0;
}

.oct-card.light{
    background-color: #fff;
    border: solid 2px #C4C4C4;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}

.oct-card .tag-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}  