.oct-project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding-bottom: 30px;
}
  
.oct-project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.oct-project-card h3 {
    font-weight: 700;
    margin-top: 25px;
    
    color: #F3F0F5;
}

.oct-project-card h3.light  {
    color: #42474C;
}
  
.oct-project-card .project-name {
    margin-top: 20px;
    text-align: center;
} 
  

  
  /* styles for viewport width 320px - 479px */
@media (min-width: 320px) and (max-width: 479px) {
    .oct-project-card {
        max-width: 250px;
    }

    .oct-project-card h3 {
        font-size: 1em;
    }
}

/* styles for viewport width 480px - 767px */
@media (min-width: 480px) and (max-width: 767px) {
    .oct-project-card {
        max-width: 410px;
    }

    .oct-project-card h3 {
        font-size: 1.25em;
    }
}

/* styles for viewport width 768px - 1279px */
@media (min-width: 768px) and (max-width: 1279px) {
    .oct-project-card {
        max-width: 410px;
    }

    .oct-project-card h3 {
        font-size: 1.5em;
    }
}

/* styles for viewport width >=1280 */
@media (min-width: 1280px) {
    .oct-project-card {
        max-width: 410px;
    }

    .oct-project-card h3 {
        font-size: 1.5em;
    }
}